---

language: ruby

sudo: false

cache:
  bundler: true

  directories:
    - .phantomjs
    - spec/rails

before_install:
  - if [ "$TRAVIS_RUBY_VERSION" = "1.9.3" ]; then
      gem uninstall bundler bundle rubygems-update --all -x &&
      gem update --system 2.6.1 &&
      gem install bundler &&
      gem uninstall rubygems-update --all -x;
    fi

install:
  - source script/install_phantomjs.sh
  - bundle install --without development --path vendor/bundle

before_script:
  - bundle exec rake setup

script:
  - bundle exec rake test_with_coveralls

rvm:
  - 1.9.3
  - 2.2.5
  - 2.3.1
  - jruby-9.1.5.0

gemfile:
  - gemfiles/rails_32.gemfile
  - gemfiles/rails_40.gemfile
  - gemfiles/rails_41.gemfile
  - gemfiles/rails_42.gemfile
  - gemfiles/rails_50.gemfile

env:
  global:
    - JRUBY_OPTS="-J-Xmx1024m --debug"

matrix:
  fast_finish: true

  exclude:
    - rvm: 1.9.3
      gemfile: gemfiles/rails_50.gemfile

  allow_failures:
    - rvm: jruby-9.1.5.0
      gemfile: gemfiles/rails_50.gemfile

notifications:
  irc:
    channels:
      - irc.freenode.org#activeadmin

    on_success: change
    on_failure: always
    skip_join: true
    template:
      - "(%{branch}/%{commit} by %{author}): %{message} (%{build_url})"
